{% extends "base.html" %}
{% block content %}
   {% for album in albums %}
       <div class="album" xmlns="http://www.w3.org/1999/html">
           <div class="album-thumbnailgroup">
               <a class="album-title-link" href="#"><div class="album-title">{{ album.name }}</div></a>
               {% for photo in album.photos|slice:":4" %}
                   <a class="album-thumbnail-link" data-index="{{ forloop.counter0 }}" href="#"><img class="album-thumbnail"
                       src="{{ FILES_URL }}{{ photo.convert_types.thumbnail }}"
                       data-size-medium="{{ FILES_URL }}{{ photo.convert_types.medium }}"/></a>
               {% endfor %}
               {% for photo in album.photos %}
                   <a class="album-thumbnail-link album-thumbnail-node hidden" href="#"><img
                       src="{{ FILES_URL }}{{ photo.convert_types.thumbnail }}"
                       data-size-medium="{{ FILES_URL }}{{ photo.convert_types.medium }}" /></a>
               {% endfor %}
           </div>
       </div>
   {% endfor %}

    <div class="lightbox">
        <div class="image-container">
            <div class="navblock left">
                <span class="navblock-center">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </span>
            </div>
            <div class="navblock right">
                <span class="navblock-center">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </span>
            </div>
            <img src="" class="image" />
        </div>
        <span class="lightbox-close glyphicon glyphicon-remove" aria-hidden="true"></span>
        <div class="scroller">
            <div class="scroller-center">
            </div>
        </div>
    </div>
{% endblock %}