body {
    background-color: #1d1d1d;
}

.header {
    padding: 10px;
    border-bottom: 2px solid #454545;
}

.header h1 {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
    color: #606060;
}

#content {
    padding: 10px;
}

.page {
    max-width: 877px;
    margin: auto;
    background-color: #222222;
}
.album-thumbnailgroup {
    margin-bottom: -10px;
}

.album-thumbnail {
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: baseline;
}

.album {
    position: relative;
    clear: both;
    margin-bottom: 30px;
}

.album-title {
    position: absolute;
    top: -1px;
    left: -1px;
    font-size: 200%;
    max-width: 70%;
    background-color: #222222;
    padding: 0px 15px 3px 0;
    display: inline-block;
}

.year {
    position: relative;
    border-right-style: solid;
    border-right-color: #606060;
    border-right-width: 5px;
}

.year-title {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 200%;
    background-color: #606060;
    padding: 0px 10px 3px 10px;
    display: inline-block;
}

.month {
    position: relative;
}

.month-title {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 130%;
    color: #606060;
    background-color: #333;
    padding: 0px 10px 3px 10px;
    display: inline-block;
}

.month-title.first {
    top: 2.39em;
}

.album-thumbnail:hover {
    box-shadow: 0 2px 0 #999999;
}

.lightbox {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    z-index: 10000;
    position: fixed;
}

.lightbox .image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.lightbox .image-container {
    height: 85%;
    position: relative;
}

.lightbox-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 200%;
    color: lightgray;
    opacity: 0.5;
    width: 10%;
    height: 10%;
    text-align: right;
    padding-top: 2%;
    padding-right: 2%;

}

.lightbox-close:hover {
    opacity: 1;
}

.lightbox-info-button {
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    font-size: 200%;
    color: lightgray;
    opacity: 0.5;
    width: 10%;
    height: 10%;
    text-align: right;
    padding-top: 2%;
    padding-right: 2%;

}

.lightbox-info-button:hover {
    opacity: 1;
}

.lightbox-info-button-close {
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    font-size: 200%;
    color: lightgray;
    opacity: 0.5;
    width: 10%;
    height: 10%;
    text-align: right;
    padding-top: 2%;
    padding-right: 2%;

}

.lightbox-info-button-close:hover {
    opacity: 1;
}

.lightbox-info-box {
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #606060;
    /*height: 100px;*/
}

.photo-info {
    font-size: 150%;
}

.photo-info a {
    color: #999999;
}

.photo-info .glyphicon {
    font-size: 80%;
}

.lightbox-extension {
    display: none;
    height: 10%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}

.touch .lightbox-extension {
    display: block;
}

.navblock {
    width: 49%;
    position: absolute;
    top: 0;
    display:table;
    font-size: 150%;
    opacity: 0.5;
    color: lightgray;
    height: 100%;
}

.navblock:hover {
    opacity: 1;
}

.navblock-center {
    display:table-cell;
    vertical-align: middle;
    padding: 5%;
}

.navblock.right .navblock-center {
    text-align: right;
}

.navblock.left {
    left: 0;
}

.navblock.right {
    right: 0;
    text-align: center;
}

.scroller {
    height: 15%;
    padding-top: 2%;
    text-align: center;
}

.scroller-center {
    display: inline-block;
    height: 100%;
    max-width: 100%;
}

.scroller .album-thumbnail-node img {
    max-height: 100%;
    max-width: 19%;
    margin-right: 1%;

}

.album-thumbnail-node.active img {
    box-shadow: 0 2px 0 lightgray !important;
}

.album-thumbnail-node img:hover {
    box-shadow: 0 2px 0 #999999;
}

.album-title-link {
    color: lightgray;
}

.album-title-link:hover {
    color: #606060;
}

@media screen and (orientation: portrait) and (max-width: 445px) {
    .album-thumbnail {
        width: 46%;
    }

    .album-thumbnailgroup {
        margin-right: -15px;
    }

    .header h1 {
        font-size: 190%;
    }
}

@media screen and (orientation: landscape) and (max-width: 640px) {
    .album-thumbnail {
        width: 22.5%;
    }

    .album-thumbnailgroup {
        margin-right: -15px;
    }

    .header h1 {
        font-size: 190%;
    }
}