body {
    padding-top: 50px;
}

#content {
    padding: 10px;
}

.album-thumbnailgroup {
}

.album-thumbnail {
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: baseline;
}

.album {
    position: relative;
    clear: both;
    margin-bottom: 30px;
}

.album-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200%;
    background-color: #ffffff;
    padding: 0px 15px 3px 0;
    display: inline-block;
}

.album-thumbnail:hover {
    outline: 2px solid lightgray;
    outline-offset: -2px;
}

.lightbox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #101010;
    z-index: 10000;
}

.lightbox .image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.lightbox .image-container {
    height: 80%;
}

.lightbox-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 200%;
    color: #ffffff;
    opacity: 0.5;
    width: 10%;
    height: 10%;
    text-align: right;
    padding-top: 2%;
    padding-right: 2%;

}

.lightbox-close:hover {
    opacity: 1;
}

.navblock {
    width: 49%;
    height: 80%;
    position: absolute;
    top: 0;
    display:table;
    font-size: 150%;
    opacity: 0.5;
    color: white;
}

.navblock:hover {
    opacity: 1;
}

.navblock-center {
    display:table-cell;
    vertical-align: middle;
    padding: 5%;
}

.navblock.right .navblock-center {
    text-align: right;
}

.navblock.left {
    left: 0;
}

.navblock.right {
    right: 0;
    text-align: center;
}

.scroller {
    height: 15%;
    padding-top: 2%;
    text-align: center;
}

.scroller-center {
    display: inline-block;
    height: 100%;
    max-width: 100%;
}

.scroller .album-thumbnail-node img {
    max-height: 100%;
    max-width: 19%;
    margin-right: 1%;

}

.album-thumbnail-node.active img {
    outline: 2px solid #ffffff;
    outline-offset: -2px;
}

.album-thumbnail-node img:hover {
    outline: 2px solid lightgray;
    outline-offset: -2px;
}