body {
    padding-top: 50px;
}

#content {
    padding: 10px;
}

.album-thumbnailgroup {
    /*margin-top: -60px;*/
}

.album-thumbnail {
    margin-right: 10px;
}

.album {
    position: relative;
    clear: both;
    margin-bottom: 30px;
}

.album-title {
    /*font-weight: bold;*/
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200%;
    background-color: #ffffff;
    padding: 0px 15px 3px 0;
    display: inline-block;
    /*margin-bottom: -50%;*/
}

.album-thumbnail:hover {
    outline: 1px solid #b4b4b4;
}
