{% extends "base.html" %}
{% block content %}
   {% for year in years %}
       <div class="year">
           {% for month in year.1 %}
               <div class="month">
                   {% for album in month.1 %}
                       <div class="album" data-title="{{ album.name }}" data-slug="{{ album.slug }}">
                           <div class="album-thumbnailgroup">
                               <a class="album-title-link" href=""><div class="album-title">{{ album.name }}</div></a>
                               {% for photo in album.photos|slice:":4" %}
                                   <a class="album-thumbnail-link" data-index="{{ forloop.counter0 }}" href=""><img class="album-thumbnail"
                                       src="{{ FILES_URL }}{{ photo.convert_types.thumbnail }}"
                                       data-size-medium="{{ FILES_URL }}{{ photo.convert_types.medium }}"/></a>
                               {% endfor %}
                               {% for photo in album.photos %}
                                   <a class="album-thumbnail-link album-thumbnail-node hidden" href=""><img
                                       src="{{ FILES_URL }}{{ photo.convert_types.thumbnail }}"
                                       data-size-medium="{{ FILES_URL }}{{ photo.convert_types.medium }}" /><div class="photo-info hidden">
                                       {{ photo.name }} ({{ photo.date|date:"Y-m-d H:i" }})<br />
                                       <aa href="{{ FILES_URL }}{{ photo.file }}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Original</aa>
                                   </div></a>
                               {% endfor %}
                           </div>
                           <a href="{% url 'zipfile' album_slug=album.slug %}" download>
                               <div class="download-button"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></div>
                           </a>
                       </div>
                   {% endfor %}
                   <div class="month-title {% if forloop.counter0 == 0 %}first{% endif %}">{{ month.0 }}</div>
               </div>
           {% endfor %}
           <div class="year-title">{{ year.0 }}</div>
       </div>
   {% endfor %}
{% endblock %}

{% block outside-page %}
    <div class="lightbox"
            {% if album_slug %} data-album-slug="{{ album_slug }}"{% endif %}
            {% if node_index %} data-node-index="{{ node_index }}"{% endif %}>
        <div class="image-container">
            <img src="" class="image" />
            <div class="navblock left">
                <span class="navblock-center">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </span>
            </div>
            <div class="navblock right">
                <span class="navblock-center">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </span>
            </div>
            <span class="lightbox-info-button glyphicon glyphicon-file" aria-hidden="true"></span>
            <div class="lightbox-info-box hidden"></div>
            <span class="lightbox-info-button-close glyphicon glyphicon-file hidden" aria-hidden="true"></span>
        </div>
        <span class="lightbox-close glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="lightbox-fullscreen" ><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></span>
        <div class="scroller">
            <div class="scroller-center">
            </div>
        </div>
    </div>
    <div class="lightbox-extension"></div>
{% endblock %}